@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Starbro is aimed at running enthusiasts who are looking to take their performance to the next level.</p>
<p>Many runners reach a performance plateau and even by following structured plans, are unable to make significant strides in their times. By analysing your data, 
    Starbro is able to identify patterns in your training which you may not know exist and allow you to adjust your training accordingly.</p>