@{
    ViewBag.Title = "Starbro - Data powered performance";
}

<div class="jumbotron">
    <h1>Starbro</h1>
    <p class="lead">Starbro is a data driven platform for anaylysing your running to allow you to train, analyse and improve. Using tools you are know and love, Starbro provides you the information you need to maximise your performance.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Run</h2>
        <p>
            Whether you're following a training plan or not, just go out and run and log your data with your preferred athletic tracking platforms.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Analyse</h2>
        <p>Connect to your preferred activity tracking platform, import your data and slice and dice to discover trends and patterns in our training.</p>
    </div>
    <div class="col-md-4">
        <h2>Improve</h2>
        <p>Using the knowledge, adjust your training to tackle gaps in your existing plan and optimise your performance. Go out and smash your PB!</p>
    </div>
</div>